/* ################# HOBBIES ############*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	color: rgb(7, 7, 7);
}

/* ajout d'un arrière plan */
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../IMAGES/home_walpaper.jpg);
	background-size: cover;
	background-position: center;
}

/* texte en blanc et le span en rouge */
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{ 
	color: #f9004d; /* tout les textes dans des span deviennent rouge */
}

/* ################# NAVIGATEUR ############*/
/* on aligne les éléments du navigateur ensemble et on les espace */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
/* on modifie à nouveau les éléménts du navigateur */
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

/* ################# HOBBIES ############*/
.projectbox{
position: relative; /* This makes z-index work correctly */
height: 100vh;
width: 100%;
background-color: rgb(7, 7, 7);
}

body {
background-color: rgb(7, 7, 7); /* Ensures the entire body has the background color */
color: #ffffff; /* Assuming you want white text for contrast */
height: 100vh; /* Adjust if your content is longer than the viewport */
margin: 0;
padding: 0;
display: flex;
flex-direction: column; /* Stacks content vertically */
}

.image-gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 20px 0;
flex-grow: 1; /* Takes up all available space */
}

.image-gallery img {
width: 30%; /* Adjust the width to control spacing */
margin-bottom: 20px; /* Adds space below each image */
}

.image-container {
position: relative;
width: 30%; /* Adjust width as needed */
margin-bottom: 20px;
cursor: pointer;
}

.image-container img {
width: 100%;
display: block;
}

.image-container .title {
position: absolute;
top: 10px;
left: 10px;
color: white;
font-size: 18px;
font-weight: bold;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px 10px;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
align-items: center;
justify-content: center;
}

.image-container:hover .overlay {
opacity: 1;
}

.text {
color: white;
font-size: 16px;
padding: 20px;
text-align: center
}

/* Styles pour le burger menu */
.burger {
	display: none; /* Masqué par défaut, affiché en mobile */
	cursor: pointer;
	position: absolute; /* Positionner de manière absolue */
	top: 15px; /* Distance du haut de la page */
	right: 15px; /* Distance du bord droit */
	z-index: 10; /* Assure que le menu burger soit au-dessus des autres éléments */
}

.burger-icon {
	width: 30px; /* Ajuste la taille de l'icône */
}

/* Sidebar styles */
.sidebar {
	height: 100%;
	width: 250px; /* Largeur de la sidebar */
	position: fixed; /* Fixe la sidebar à gauche */
	z-index: 1;
	top: 0;
	left: -250px; /* Cache la sidebar en dehors de l'écran */
	background-color: #191919; /* Couleur de fond */
	overflow-x: hidden; /* Empêche le défilement horizontal */
	transition: 0.5s; /* Transition lisse */
	padding-top: 60px; /* Espacement supérieur */
}

.sidebar a {
	padding: 10px 15px; /* Espacement autour des liens */
	text-decoration: none; /* Supprime le soulignement */
	font-size: 20px; /* Taille de police */
	color: white; /* Couleur du texte */
	display: block; /* Affiche les liens en bloc */
	transition: 0.3s; /* Transition pour les liens */
}

.sidebar a:hover {
	background-color: #f9004d; /* Couleur au survol */
}

/* Styles pour le bouton de fermeture */
.closebtn {
	font-size: 36px;
	margin-left: 15px; /* Espacement à gauche */
}

/* Media Queries pour les petits écrans (téléphones) */
@media (max-width: 768px) {
	nav ul {
		display: none; /* Masquer les liens de navigation par défaut sur mobile */
	}

	.burger {
		display: block; /* Affiche le burger menu sur mobile */
		margin-top: 30px; /* Ajoutez un peu d'espace au-dessus pour aligner avec h2 */
	}

	.experience-section {
		padding: 20px; /* Réduire le padding pour les écrans plus petits */
	}

	.experience-container {
		flex-direction: column; /* Aligner le contenu en colonne pour une meilleure lisibilité */
		padding: 15px; /* Ajuster le padding interne */
		margin: 10px; /* Ajouter une marge pour espacer les conteneurs */
	}

	.company-logo {
		margin: 0 auto 15px; /* Centrer l'image et ajouter une marge en bas */
	}

	.experience-details {
		text-align: center; /* Centrer le texte pour une meilleure présentation */
	}

	h2,
	h3,
	p {
		margin-bottom: 15px; /* Espacement entre les éléments */
	}

	.technology-logos {
		padding: 10px 0; /* Ajuster le padding pour un espacement suffisant */
	}

	/* Styles pour la sidebar */
	.sidebar {
		height: 100%; /* Hauteur de la sidebar */
		width: 250px; /* Largeur de la sidebar */
		position: fixed; /* Positionnement fixe */
		top: 0; /* Positionner en haut */
		left: -250px; /* Masquer la sidebar par défaut */
		background-color: #333; /* Couleur de fond */
		overflow-x: hidden; /* Masquer le débordement horizontal */
		transition: 0.5s; /* Transition pour l'animation d'ouverture */
		padding-top: 60px; /* Espace en haut */
	}

	.sidebar a {
		padding: 8px 8px 8px 32px; /* Espacement pour les liens */
		text-decoration: none; /* Supprimer le soulignement */
		font-size: 25px; /* Taille de la police */
		color: white; /* Couleur du texte */
		display: block; /* Affichage en bloc */
		transition: 0.3s; /* Transition pour l'effet de survol */
	}

	.sidebar a:hover {
		color: #f1f1f1; /* Couleur au survol */
	}

	.openbtn {
		font-size: 20px; /* Taille de la police pour le bouton d'ouverture */
		cursor: pointer; /* Curseur de pointeur */
	}

	.image-gallery {
		flex-direction: column; /* Change la direction pour empiler les images verticalement */
		align-items: center; /* Centre les images horizontalement */
}

.image-container {
		width: 90%; /* Ajuste la largeur pour prendre 90% de l'écran */
		margin-bottom: 20px; /* Ajoute un espace entre les images */
}

.image-gallery img {
		width: 100%; /* Les images prennent toute la largeur du conteneur */
		padding-left: 10%;
}


}
