/* ################# HOBBIES ############*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	color:rgb(7, 7, 7);
}
/* ajout d'un arrière plan*/
.hero{
	height: 100vh;
	width: 100%;
	background-image:  url(../IMAGES/home_walpaper.jpg);
	background-size: cover;
	background-position: center;
}

/* texte en blanc et le span en rouge */
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{ 
	color: #f9004d; /*tout les textes dans des span deviennent rouge*/
}

/* ################# NAVIGATEUR ############*/
/* on aligne les éléments du navigateur ensemble et on les espace*/
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
/*on modifie à nouveau les éléménts du navigateur */
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

/* ################# HOBBIES ############*/

.tripbox{
	height: 100vh;
	width: 100%;
	background-color: rgb(7, 7, 7)
}

.trips_title {
  color: #fff;
  position: absolute;
  padding-top: 50px;
  padding-left: 550px;
}

body{
  height: 100vh;
  background: rgb(7, 7, 7);
}

.img-slider{
  display : flex;
  justify-content: center;
  padding-top: 100px;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 60%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* ################# MINI SECTION ############*/

.training_section{
  height: 100vh;
	width: 100%;

	background-size: cover;
	background-position: center;
  align-items: center;
  flex-wrap: nowrap;
  }

.training_title{
  color: #fff;
  position: relative;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 550px;
  }

img.boxe{
  height: 80%;
  width: auto;
  margin: 0;
  padding-top: 40px;
  padding-left: 20%;
  }

.cook_title{
  color: #fff;
  position: relative;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 560px;
  }


img.food{
  height: 70%;
  width: auto;
  margin: 0;
  padding-top: 40px;
  padding-left: 20%;
  margin:0px;
  padding-bottom: 0px;
  }


/* Styles pour le burger menu */
.burger {
	display: none; /* Masqué par défaut, affiché en mobile */
	cursor: pointer;
	position: absolute; /* Positionner de manière absolue */
	top: 15px; /* Distance du haut de la page */
	right: 15px; /* Distance du bord droit */
	z-index: 10; /* Assure que le menu burger soit au-dessus des autres éléments */
}

.burger-icon {
	width: 30px; /* Ajuste la taille de l'icône */
}

/* Sidebar Styles */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99; /* Assurez-vous que la sidebar est au-dessus de l'overlay flou */
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: 'Josefin Sans', sans-serif;
}

.sidebar a {
	padding: 8px 32px;
	text-decoration: none;
	font-size: 16px; /* Réduit la taille du texte dans la sidebar */
	color: white;
	display: block;
	transition: color 0.3s, background-color 0.3s;
	font-family: 'Josefin Sans', sans-serif;
}

.sidebar a:hover {
	color: #f9004d;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Style pour le bouton de fermeture */
.sidebar .closebtn {
	position: absolute;
	top: 20px; /* Distance du haut */
	right: 20px; /* Distance du bord droit */
	font-size: 36px; /* Taille du texte du bouton */
	color: white;
	cursor: pointer; /* Ajoute un curseur pour le bouton */
}


/* MEDIAAAAAAAAAAAAAA QUERIES  */



@media (max-width: 768px) {
	nav ul {
		display: none; /* Masquer les liens de navigation par défaut sur mobile */
	}

	.burger {
		display: block; /* Affiche le burger menu sur mobile */
		margin-top: 30px; /* Ajoutez un peu d'espace au-dessus pour aligner avec h2 */
	}

  /* BOX */ 

  .hero { height: 60%;}

  .tripbox {
    height: 100%; /* Réduit la largeur du conteneur à 80% de son parent (ajustez selon vos besoins) */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    box-sizing: border-box; /* S'assure que le padding et la bordure ne modifient pas la largeur */
    padding-bottom: 0;
}

.training_section {
  height: 40%; /* Assurez-vous qu'il n'y ait pas de marge en haut de .training */
}

/* TITRESSSS */ 

  .trips_title {
    text-align: center;  /* Aligner le texte à gauche */
    width: 100%;       /* Assurez-vous que l'élément prend toute la largeur disponible */
    margin-bottom: 15px;   /* Enlève les marges éventuelles à gauche */
    padding-left: 0;   /* Enlève le padding éventuel à gauche */
}
  .trips_title h1 {
    text-align: center;  /* Aligne le texte à gauche */
    margin-bottom: 15px;   /* Enlève les marges à gauche */
    padding-left: 0;   /* Enlève le padding à gauche */
}

.training_title {
  text-align: center;  /* Aligner le texte à gauche */
  width: 100%;       /* Assurez-vous que l'élément prend toute la largeur disponible */
  margin-bottom: 15px;     /* Enlève les marges éventuelles à gauche */
  padding-left: 0;   /* Enlève le padding éventuel à gauche */
}
.training_title h1 {
  text-align: center;  /* Aligne le texte à gauche */
  margin-bottom: 15px;    /* Enlève les marges à gauche */
  padding-left: 0;   /* Enlève le padding à gauche */
}

.cook_title {
  text-align: center;  /* Aligner le texte à gauche */
  width: 100%;       /* Assurez-vous que l'élément prend toute la largeur disponible */
  margin-bottom: 15px;    /* Enlève les marges éventuelles à gauche */
  padding-left: 0;   /* Enlève le padding éventuel à gauche */
}
.cook_title h1 {
  text-align: center;  /* Aligne le texte à gauche */
  margin-bottom: 15px;    /* Enlève les marges à gauche */
  padding-left: 0;   /* Enlève le padding à gauche */
}

/* IMAGES */

img.boxe {
  width: 100%;  /* Prendre toute la largeur du conteneur parent */
  height: auto; /* Maintenir le ratio de l'image */
  margin: 0;  /* Retirer les marges */
  padding-top: 0px;
  padding-left: 0; /* Ajuster le padding si nécessaire */
}
  
img.food {
  width: 100%;  /* Prendre toute la largeur du conteneur parent */
  height: auto; /* Maintenir le ratio de l'image */
  margin: 0;  /* Retirer les marges */
  padding-top: 0px;
  padding-left: 0; /* Ajuster le padding si nécessaire */
}

@media (max-width: 420px){
  .img-slider{
    transform: scale(1.2); /* Agrandit l'image de 20% */
    transform-origin: center center; /* Garde le centre de l'image comme point d'origine */
    width: 100%; /* Garde la largeur de l'image à 100% de son conteneur */
    height: auto; /* Conserve les proportions de l'image */
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

.img-slider .navigation {
  position: absolute; /* Garder la navigation positionnée absolument par rapport à .img-slider */
  top: 250px; /* Ajustez la distance du bas si nécessaire */
  transform: translateX(-50%);
  z-index: 2; /* Assurez-vous qu'elle soit au-dessus de l'image */
}
}

/* AUTRES SECTIONS */
  
 
	.training-container {
		flex-direction: column; /* Aligner le contenu en colonne pour une meilleure lisibilité */
		padding: 15px; /* Ajuster le padding interne */
		margin: 10px; /* Ajouter une marge pour espacer les conteneurs */
	}
  .training_section {
    width: 80%; /* Réduit la largeur du conteneur à 80% de la largeur de l'écran */
    max-width: 600px; /* Fixe une largeur maximale (par exemple 600px) */
    margin: 10px auto; /* Centre le conteneur horizontalement et ajoute un espacement vertical */
    text-align: center; /* Centre le contenu (titre et image) */
  }
  
  .training_section img {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    max-width: 300px; /* Fixe une largeur maximale (par exemple 300px) */
    height: auto; /* Maintient le ratio de l'image */
  }
	.company-logo {
		margin: 0 auto 15px; /* Centrer l'image et ajouter une marge en bas */
	}

	.experience-details {
		text-align: center; /* Centrer le texte pour une meilleure présentation */
	}

	h2,
	h3,
	p {
		margin-bottom: 15px; /* Espacement entre les éléments */
	}

	.technology-logos {
		padding: 10px 0; /* Ajuster le padding pour un espacement suffisant */
	}


}
