/* Style général */
* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

/* Superposition floue */
.blur-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	filter: blur(5px);
	transition: opacity 0.3s;
	opacity: 0;
	pointer-events: none;
	z-index: 1; /* Assurez-vous que c'est derrière la sidebar */
}

.blur-overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/* Section Hero */
.hero {
	height: 100vh;
	width: 100%;
	background-image: url(../IMAGES/home_walpaper.jpg);
	background-size: cover;
	background-position: center;
}

/* Logo */
.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span { 
	color: #f9004d; /* Les textes dans les span deviennent rouges */
}

/* Navigation */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: #f9004d;
	transition: .4s;
}

/* Bouton pour les liens */
.btn {
	background-color: #f9004d;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}

.btn:hover {
	transform: scale(1.2);
}

/* Contenu */
.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}

/* Newsletter */
.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

/* About Section */
.about {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img {
	height: auto;
	width: 430px;
}

.about-text {
	width: 550px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	color: rgba(255, 255, 255, 0.918);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/* Présentation */
.presentation {
	color: rgb(255, 255, 255);
}

/* Contact Info */
.contact-info {
	margin-top: 20px;
}

.contact-info a {
	margin-right: 15px;
}

.contact-info img {
	width: 30px;
	height: 30px;
	transition: transform 0.3s;
}

.contact-info img:hover {
	transform: scale(1.1);
}

/* Burger Menu */
.burger {
	display: none;
}

.burger-icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/* Sidebar Styles */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2; /* Assurez-vous que la sidebar est au-dessus de l'overlay flou */
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: 'Josefin Sans', sans-serif;
}

.sidebar a {
	padding: 8px 32px;
	text-decoration: none;
	font-size: 16px; /* Réduit la taille du texte dans la sidebar */
	color: white;
	display: block;
	transition: color 0.3s, background-color 0.3s;
	font-family: 'Josefin Sans', sans-serif;
}

.sidebar a:hover {
	color: #f9004d;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Style pour le bouton de fermeture */
.sidebar .closebtn {
	position: absolute;
	top: 20px; /* Distance du haut */
	right: 20px; /* Distance du bord droit */
	font-size: 36px; /* Taille du texte du bouton */
	color: white;
	cursor: pointer; /* Ajoute un curseur pour le bouton */
}

/* Media Queries pour les petits écrans (téléphones) */
@media (max-width: 768px) {
	h1 {
			font-size: 30px;
	}

	h3 {
			font-size: 12px;
	}

	h4 {
			font-size: 15px;
	}

	.content br {
			display: none;
	}
	
	.content {
			top: 34%;
			left: 5%;
			transform: translateY(-50%);
			/* Ajout de padding pour éviter que le texte ne touche les bords */
			padding: 0 10px; /* Ajustez la valeur selon vos besoins */
	}

	/* Ajouter du padding ou de la marge pour le texte de la présentation */
	.presentation {
			padding: 0 10px; /* Ajoutez un peu de padding horizontal */
	}

	/* Ajout de padding pour le texte de contact */
	.contact-info {
			text-align: center;
			margin-top: 30px;
			padding: 0 10px; /* Ajoutez un peu de padding horizontal */
	}

	/* Display burger icon on mobile */
	.burger {
			display: block;
	}

	/* Hide the default navigation menu on mobile */
	nav ul {
			display: none;
	}

	.main {
			flex-direction: column;
			text-align: center;
	}

	.about img {
			width: 100%;
			margin-bottom: 20px;
	}

	.about-text {
			width: 100%;
	}

	.newslatter form {
			width: 100%;
			padding: 0;
	}

	.newslatter form input:first-child {
			padding: 10px 80px 10px 10px;
	}

	.btn, button {
			padding: 10px 20px;
	}

	.contact-info {
			text-align: center;
			margin-top: 30px;
	}
}
